header {
    position: absolute;
    top: 0;
    width: 100%;

    nav {
        display: flex;
        flex-direction: column;
        background-color: #fff;
        position: relative;
        z-index: 10;

        .navIcons {
            position: absolute;
            top: 0;
            right: 0;
            display: flex;
            padding: 23px;

            .menuBtn {
                margin-left: 15px;
            }
        }

        .navBrand, .navLink {
            font-weight: 800;
            padding: 23px;
        }

        a {
            color: #000;
            font-weight: bold;
            font-size: 22px;

            &:hover {
                color: $main-dark;
            }
        }

        .navLink {
            background-color: $bg-color;
            text-align: center;
            display: none;
        }

        .navToggle {
            display: inherit;
        }

        .searchBtn {
            cursor: pointer;
        }
    }

}

.dropdown-content {
    display: none;
}



@media screen and (min-width: 990px){

    header {
        nav {
            display: flex;
            max-width: 1181px;
            margin: 0 auto;

            a {
                font-size: 14px;
            }

            .navItems {
                display: flex;
            }
        
            .navIcons {
                position: inherit;
                margin-left: auto;
        
                .menuBtn {
                    display: none;
                }
            }

            .navLink {
                display: inline-block;
                background-color: #fff;
                
                &:hover {
                    border-bottom: 3px solid $main-dark;
                }

                &:active {
                    background-color: $bg-color;
                    padding: 20px 23px;
                }
            }

        }

        nav, .navItems {
            flex-direction: row;
            }
        }

        .dropdown {
            cursor: pointer;
            position: relative;
            border: none;
        }
        
        .dropdown-content {
            display: none;
            position: absolute;
            right: 1.5em;
            top: 3.5em;
            color: #000;
            background-color: #fff;
            min-width: 160px;
            padding: 12px 16px;
            border: 1px solid $bg-color;
            border-radius: 4px;
            z-index: 1;
            
          }

          .dropdown:hover .dropdown-content {
            display: block;
          }

          .ctaReview {
              display: flex;
              justify-content: space-between;
          }
    }