/*----------  Fonts
------------------------------------------------------------------------------*/

$main-font: 'Montserrat', Verdana, arial;

/*----------  Colors
------------------------------------------------------------------------------*/
$main-dark: #f05a28;
$main-light: #f7b74f; 
$bg-color: #f7f7f7;
$dark: #2e2d2c;
$medium: #3c3c3b;
$light: #575756;
$blue-dark: #2f797a;
$blue-md-dark: #318c8c;
$blue-md-ligh: #7cc9c2;
$blue-light: #87c5ec;
